@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/Helveticas/HelveticaRoundedLTStd-BdCn.otf') format('otf');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Narrow';
  src: url('../fonts/Helveticas/Helvetica-Narrow.woff2') format('woff2'),
      url('../fonts/Helveticas/Helvetica-Narrow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica BQ';
  src: url('../fonts/Helveticas/HelveticaBQ-Roman.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaBQ-Roman.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT';
  src: url('../fonts/Helveticas/HelveticaLT-BlackOblique.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-BlackOblique.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Compressed';
  src: url('../fonts/Helveticas/HelveticaLTStd-Blk.otf') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-Compressed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helveticas/Helvetica.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT';
  src: url('../fonts/Helveticas/HelveticaLT-Bold.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT';
  src: url('../fonts/Helveticas/HelveticaLT-BoldOblique.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-BoldOblique.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  src: url('../fonts/Helveticas/Helvetica\ Bold.ttf') format('woff2'),
      url('../fonts/Helveticas/Helvetica\ Bold.ttf') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica 55 Roman';
  src: url('../fonts/Helveticas/Helvetica-Neue-Bold.ttf') format('ttf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT';
  src: url('../fonts/Helveticas/HelveticaLT-Black.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT';
  src: url('../fonts/Helveticas/HelveticaLT.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Condensed';
  src: url('../fonts/Helveticas/HelveticaLT-Condensed-Oblique.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-Condensed-Oblique.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT CondensedLight';
  src: url('../fonts/Helveticas/HelveticaLT-Condensed-Light.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-Condensed-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT';
  src: url('../fonts/Helveticas/HelveticaLT-LightOblique.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-LightOblique.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Condensed';
  src: url('../fonts/Helveticas/HelveticaLT-Condensed-Bold.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-Condensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT CondensedBlack';
  src: url('../fonts/Helveticas/HelveticaLT-Condensed-BlackObl.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-Condensed-BlackObl.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Condensed';
  src: url('../fonts/Helveticas/HelveticaLT-Condensed-BoldObl.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-Condensed-BoldObl.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Condensed';
  src: url('../fonts/Helveticas/HelveticaLT-Condensed.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-Condensed.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT CondensedBlack';
  src: url('../fonts/Helveticas/HelveticaLT-Condensed-Black.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-Condensed-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT CondensedLight';
  src: url('../fonts/Helveticas/HelveticaLT-Condensed-LightObl.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-Condensed-LightObl.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helveticas/HelveticaLTStd-Blk.otf') format('otf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Narrow';
  src: url('../fonts/Helveticas/HelveticaLT-Narrow-Bold.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-Narrow-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Narrow';
  src: url('../fonts/Helveticas/HelveticaLT-Narrow-BoldOblique.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-Narrow-BoldOblique.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helveticas/HelveticaLTStd-BlkCondObl.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLTStd-BlkCondObl.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT';
  src: url('../fonts/Helveticas/HelveticaLT-Light.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Narrow';
  src: url('../fonts/Helveticas/HelveticaLT-Narrow.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-Narrow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Narrow';
  src: url('../fonts/Helveticas/HelveticaLT-Narrow-Oblique.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-Narrow-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  /* HelveticaLTStd-BlkCond.woff2 */
  src: url('../fonts/Helveticas/HelveticaLTStd-Blk.otf') format('otf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT';
  src: url('../fonts/Helveticas/HelveticaLT-Oblique.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-Oblique.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helveticas/HelveticaLTStd-BlkObl.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLTStd-BlkObl.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helveticas/HelveticaLTStd-Bold.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLTStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helveticas/HelveticaLTStd-Comp.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLTStd-Comp.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helveticas/HelveticaLTStd-BoldObl.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLTStd-BoldObl.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helveticas/HelveticaLTStd-BoldCondObl.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLTStd-BoldCondObl.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helveticas/HelveticaLTStd-BoldCond.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLTStd-BoldCond.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica CE 55 Roman';
  src: url('../fonts/Helveticas/HelveticaNeueCE-Roman.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueCE-Roman.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helveticas/HelveticaLTStd-LightCond.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLTStd-LightCond.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helveticas/HelveticaLTStd-Roman.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLTStd-Roman.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helveticas/HelveticaLTStd-Light.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLTStd-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helveticas/HelveticaLTStd-LightCondObl.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLTStd-LightCondObl.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica CE 55 Roman';
  src: url('../fonts/Helveticas/HelveticaNeueCE-Italic.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueCE-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helveticas/HelveticaLTStd-Obl.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLTStd-Obl.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/Helveticas/HelveticaRoundedLTStd-BdCn.otf') format('otf');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT UltraCompressed';
  src: url('../fonts/Helveticas/HelveticaLT-UltraCompressed.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLT-UltraCompressed.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helveticas/HelveticaLTStd-CondObl.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLTStd-CondObl.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helveticas/HelveticaLTStd-LightObl.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLTStd-LightObl.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/Helveticas/HelveticaRoundedLTStd-BdCn.otf') format('otf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helveticas/HelveticaLTStd-UltraComp.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLTStd-UltraComp.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica LT Std';
  src: url('../fonts/Helveticas/HelveticaLTStd-Cond.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaLTStd-Cond.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueLT Com 67 MdCn';
  src: url('../fonts/Helveticas/HelveticaNeueLTCom-HvCnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTCom-HvCnO.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica CE 55 Roman';
  src: url('../fonts/Helveticas/HelveticaNeueCE-Bold.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueCE-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueLT Com 67 MdCn';
  src: url('../fonts/Helveticas/HelveticaNeueLTCom-HvCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTCom-HvCn.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueLT Com 57 Cn';
  src: url('../fonts/Helveticas/HelveticaNeueLTCom-BdCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTCom-BdCn.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueLT Com 97 BlkCn';
  src: url('../fonts/Helveticas/HelveticaNeueLTCom-BlkCnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTCom-BlkCnO.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica CE 55 Roman';
  src: url('../fonts/Helveticas/HelveticaNeueCE-BoldItalic.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueCE-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueLT Com 97 BlkCn';
  src: url('../fonts/Helveticas/HelveticaNeueLTCom-BlkCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTCom-BlkCn.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueLT Com 57 Cn';
  src: url('../fonts/Helveticas/HelveticaNeueLTCom-BdCnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTCom-BdCnO.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueLT Com 47 LtCn';
  src: url('../fonts/Helveticas/HelveticaNeueLTCom-LtCnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTCom-LtCnO.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueLT Com 47 LtCn';
  src: url('../fonts/Helveticas/HelveticaNeueLTCom-LtCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTCom-LtCn.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../fonts/Helveticas/HelveticaNeueLTPro-ThCnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTPro-ThCnO.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../fonts/Helveticas/HelveticaNeueLTPro-Cn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTPro-Cn.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../fonts/Helveticas/HelveticaNeueLTPro-LtCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTPro-LtCn.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueLT Com 107 XBlkCn';
  src: url('../fonts/Helveticas/HelveticaNeueLTCom-XBlkCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTCom-XBlkCn.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueLT Com 27 UltLtCn';
  src: url('../fonts/Helveticas/HelveticaNeueLTCom-UltLtCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTCom-UltLtCn.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../fonts/Helveticas/HelveticaNeueLTPro-HvCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTPro-HvCn.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueLT Pro 57 Cn';
  src: url('../fonts/Helveticas/HelveticaNeueLTPro-CnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTPro-CnO.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeueLT Com 27 UltLtCn';
  src: url('../fonts/Helveticas/HelveticaNeueLTCom-UltLtCnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTCom-UltLtCnO.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../fonts/Helveticas/HelveticaNeueLTPro-BlkCnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTPro-BlkCnO.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../fonts/Helveticas/HelveticaNeueLTPro-LtCnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTPro-LtCnO.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../fonts/Helveticas/HelveticaNeueLTPro-ThCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTPro-ThCn.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../fonts/Helveticas/HelveticaNeueLTPro-HvCnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTPro-HvCnO.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../fonts/Helveticas/HelveticaNeueLTPro-BlkCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTPro-BlkCn.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/Helveticas/HelveticaNeueLTStd-BlkCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTStd-BlkCn.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/Helveticas/HelveticaNeueLTStd-ThCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTStd-ThCn.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/Helveticas/HelveticaNeueLTStd-MdCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTStd-MdCn.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/Helveticas/HelveticaNeueLTStd-LtCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTStd-LtCn.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/Helveticas/HelveticaNeueLTStd-BdCnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTStd-BdCnO.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/Helveticas/HelveticaNeueLTStd-BlkCnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTStd-BlkCnO.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../fonts/Helveticas/HelveticaNeueLTPro-UltLtCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTPro-UltLtCn.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/Helveticas/HelveticaNeueLTStd-LtCnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTStd-LtCnO.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/Helveticas/HelveticaNeueLTStd-MdCnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTStd-MdCnO.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/Helveticas/HelveticaNeueLTStd-BdCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTStd-BdCn.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/Helveticas/HelveticaNeueLTStd-ThCnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTStd-ThCnO.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../fonts/Helveticas/HelveticaNeueLTPro-UltLtCnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTPro-UltLtCnO.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../fonts/Helveticas/HelveticaNeueLTPro-XBlkCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTPro-XBlkCn.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/Helveticas/HelveticaNeueLTStd-UltLtCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTStd-UltLtCn.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/Helveticas/HelveticaNeueLTStd-UltLtCnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTStd-UltLtCnO.woff') format('woff');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../fonts/Helveticas/HelveticaRoundedLTStd-BdCn.otf') format('otf');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Std';
  src: url('../fonts/Helveticas/HelveticaNeueLTStd-XBlkCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaNeueLTStd-XBlkCn.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Rounded LT Std';
  src: url('../fonts/Helveticas/HelveticaRoundedLTStd-Bd.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaRoundedLTStd-Bd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Rounded LT Std';
  src: url('../fonts/Helveticas/HelveticaRoundedLTStd-BdCn.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaRoundedLTStd-BdCn.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Rounded LT Std';
  src: url('../fonts/Helveticas/HelveticaRoundedLTStd-BdO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaRoundedLTStd-BdO.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Helvetica BQ';
  src: url('../fonts/Helveticas/NeueHelveticaBQ-BlackItalic.woff2') format('woff2'),
      url('../fonts/Helveticas/NeueHelveticaBQ-BlackItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Helvetica BQ';
  src: url('../fonts/Helveticas/NeueHelveticaBQ-Black.woff2') format('woff2'),
      url('../fonts/Helveticas/NeueHelveticaBQ-Black.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Neue Helvetica Condensed BQ';
  src: url('../fonts/Helveticas/NeueHelveticaCondensedBQ-Roman.woff2') format('woff2'),
      url('../fonts/Helveticas/NeueHelveticaCondensedBQ-Roman.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Rounded LT Std';
  src: url('../fonts/Helveticas/HelveticaRoundedLTStd-BdCnO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaRoundedLTStd-BdCnO.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Rounded LT Std';
  src: url('../fonts/Helveticas/HelveticaRoundedLTStd-BlkO.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaRoundedLTStd-BlkO.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Rounded LT Std';
  src: url('../fonts/Helveticas/HelveticaRoundedLTStd-Black.woff2') format('woff2'),
      url('../fonts/Helveticas/HelveticaRoundedLTStd-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
